<div class="container">
    <div class="row">
        <ng-template #charElse>
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>

        <div *ngIf="character; else charElse">
            <div class="card mt-1 mb-1" style="width: 18rem;">
                <img src="{{character.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{character.name}}</h5>
                    <p>species: {{character.species}}</p>
                    <p>Status: {{character.status}}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-3">
        <button (click)="back()" type="button" class="btn btn-secondary">Back</button>
    </div>

</div>