<!-- Componennt Character List -->

<div class="container">
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let character of characters" class="col col-sm-3">
      <div class="card mt-1 mb-1">
        <img src="{{character.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{character.name}}</h5>
          <button (click)="viewDetail(character)" class="btn btn-primary">view</button>
        </div>
      </div>
    </div>



  </div>
</div>